<header>
    <div class="header-fixo cor-bg-p2" data-scroll="animado">
        <div class="container cor-bg-p2">
            <div class="container-header cor-bg-p2">
                <div>
                    <a class="logo cor-p1" href="">Vertex</a>
                </div>
                <nav class="nav">
                    <ul class="nav-itens f2-m" data-menu="nav">
                        <li><a href="#Shop">Shop</a></li>
                        <li><a href="#onSale">On Sale</a></li>
                        <li><a href="#newArrivals">New Arrivals</a></li>
                    </ul>
                </nav>
                <div class="barra-pesquisa">
                    <input class="pesquisa material-symbols-outlined" type="text" placeholder="search" />
                </div>
                <div class="contamenu">
                    <span class="material-symbols-outlined cart">
                        shopping_cart
                    </span>
                    <span class="material-symbols-outlined conta" data-modal="conta">
                        account_circle
                    </span>
                    <button class="menu-mobile" data-menu="btn-mobile">
                        <span class="hamburger"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>