<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Vertex</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico" />

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css" />
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt="" /></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap">
                            <span class="top"></span><span class="bottom"></span>
                        </div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li>
                                <a href="/shop">Shop</a>

                            </li>



                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="/search" method="get">
                        <input type="search" name="keyword" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <div class="sign-in-area">
                    <a href="/login">Sign in</a>
                </div>

            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <section class="p-5 bg-img background-overlay">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 p-0">
                    <div class="p-0 col-sm-12 col-md-8 col-lg-5 mx-auto d-table h-100">
                        <div class="d-table-cell align-middle">
                            <div class="card">
                                <div class="card-body">
                                    <div class="m-sm-4">
                                        <div class="text-center my-4">
                                            <h1 class="h2">Welcome back</h1>
                                            <p class="">Sign in to your account to continue</p>
                                        </div>
                                        <form autocomplete="off">
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input autocomplete="false" id="email" class="form-control" type="email"
                                                    name="email" placeholder="Enter your email" />

                                                <div id="emailValidationMessage" class="text-danger mb-2"></div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="form-label">Password</label>
                                                <input autocomplete="false" id="password" class="mb-1    form-control"
                                                    type="password" name="password" placeholder="Enter your password" />
                                                <div id="passwordValidationMessage" class="text-danger mb-2"></div>
                                                <a href="/forgot-password" class=" sign-up-anchor">Forgot
                                                    Password?</a>
                                            </div>
                                            <div class="text-center mb-2">
                                                <button type="button" id="loginBtn" class="btn btn-primary">
                                                    Sign in
                                                </button>
                                            </div>
                                            <p>Don't have an account? <a class="sign-up-anchor" href="/register">Sign
                                                    Up</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="/img/core-img/logo2.png" alt="" /></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="/shop">Shop</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here" />
                                <button type="submit" class="submit">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    <script>
        const url = "/login";
        const btn = document.getElementById("loginBtn");
        const email = document.getElementById("email");
        const password = document.getElementById("password");


        const emailValidationMessage = document.getElementById("emailValidationMessage");
        const passwordValidationMessage = document.getElementById("passwordValidationMessage");

        function validateEmail(email) {
            let validRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            const matches = email.match(validRegex)
            return matches !== null && matches[0] === email
        }

        btn.addEventListener("click", async () => {
            event.preventDefault();


            emailValidationMessage.textContent = "";
            passwordValidationMessage.textContent = "";

            if (email.value.trim() === "") {
                emailValidationMessage.textContent = "Email is required";
                return;
            } else if (!validateEmail(email.value)) {
                console.log("not epty")
                emailValidationMessage.textContent = "invalid Email";
                return
            }

            if (password.value.trim() === "") {
                passwordValidationMessage.textContent = "Password is required";
                return;
            }

            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        email: email.value,
                        password: password.value,
                    }),
                });

                console.log(response)
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    const jsonData = await response.json();
                    if (jsonData.message == "Invalid password") {
                        return passwordValidationMessage.textContent = jsonData.message;
                    }
                    return emailValidationMessage.textContent = jsonData.message;
                }
            } catch (error) {
                console.log(error)
            }
        });
    </script>
</body>

</html>

</html>