<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Vertex</title>

  <!-- Favicon  -->
  <link rel="icon" href="/img/core-img/favicon.ico" />

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="/css/core-style.css" />
  <style>
    #passwordRequirements {
      position: absolute;
      background: #f9f9f9;
      border: 1px solid #ccc;
      padding: 10px;
      display: none;
    }

    #passwordRequirements p {
      color: red;
      margin: 0;
    }

    #passwordRequirements p.valid {
      color: green;
    }
  </style>
</head>

<body>
  <!-- ##### Header Area Start ##### -->
  <%- include("./partials/navbar") %>

    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <section class="p-5 bg-img background-overlay">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 p-0">
            <div class="p-0 col-sm-10 col-md-8 col-lg-5 mx-auto d-table h-100">
              <div class="d-table-cell align-middle">
                <div class="card">
                  <div class="card-body">
                    <div class="m-sm-4">
                      <div class="text-center my-4">
                        <h1 class="h2">Create account</h1>
                        <p class="">Let's create your account</p>
                        <span id="validationMessage" class="text-danger mb-2"></span>
                      </div>
                      <form autocomplete="off">
                        <div class="mb-3">
                          <label for="full_name" class="form-label">Full Name:</label>
                          <input autocomplete="false" id="full_name" class="form-control" type="full_name"
                            name="full_name" placeholder="Enter your full name" />
                          <span id="nameValidationMessage" class="text-danger mb-2"></span>
                        </div>

                        <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input autocomplete="false" id="email" class="form-control" type="email" name="email"
                            placeholder="Enter your email" />
                          <sapn id="emailValidationMessage" class="text-danger mb-2"></sapn>
                        </div>

                        <div class="mb-3">
                          <label for="mobile" class="form-label">Mobile</label>
                          <input autocomplete="false" id="mobile" class="form-control" type="number" name="mobile"
                            placeholder="Enter your mobile number" />
                          <sapn id="mobileValidationMessage" class="text-danger mb-2"></sapn>
                        </div>

                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input autocomplete="false" id="password" class="form-control" type="password" name="password"
                            placeholder="Enter your password"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" />
                          <div id="passwordRequirements">
                            <p id="lengthReq">Minimum 8 characters</p>
                            <p id="lowerReq">At least one lowercase letter</p>
                            <p id="upperReq">At least one uppercase letter</p>
                            <p id="numberReq">At least one number</p>
                          </div>
                          <span id="passwordValidationMessage" class="text-danger mb-2"></span>
                        </div>
                        <div class="mb-3">
                          <label for="confirmpassword" class="form-label">Confirm Password</label>
                          <input autocomplete="false" id="confirmpassword" class="form-control" type="password"
                            name="confirmpassword" placeholder="Re-enter your password" />
                          <span id="confirmPasswordValidationMessage" class="text-danger mb-2"></span>
                        </div>
                        <div class="text-center mb-2">
                          <button type="button" id="registerBtn" class="btn btn-primary">
                            Sign Up
                          </button>
                        </div>
                        <p>
                          Already a memeber?
                          <a class="sign-up-anchor" href="/login">Log in</a>
                        </p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <%- include("./partials/user-footer") %>
      <!-- ##### Footer Area End ##### -->

      <!-- jQuery (Necessary for All JavaScript Plugins) -->
      <script src="/js/jquery/jquery-2.2.4.min.js"></script>
      <!-- Popper js -->
      <script src="/js/popper.min.js"></script>
      <!-- Bootstrap js -->
      <script src="/js/bootstrap.min.js"></script>
      <!-- Plugins js -->
      <script src="/js/plugins.js"></script>
      <!-- Classy Nav js -->
      <script src="/js/classy-nav.min.js"></script>
      <!-- Active js -->
      <script src="/js/active.js"></script>
      <script src="/js/password.js"></script>
      <script src="/js/register.js"></script>


      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>